/* Font - Rubik. */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Font - Open Sans. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



/* Variables fonts. */ 
:root{
    /* Familys. */
    --font-family-titles: 'Rubik', 'Sans-serif', 'Poppins', 'Serif', 'Arial';
    --font-family-general: 'Open Sans'/*, 'Sans-serif', 'Poppins', 'Serif', 'Arial'. */;
    
    /* Sizes. */
    --font-size-title: 2.7rem;
    --font-size-subtitle: 2.2rem;
    --font-size-general: 1.7rem;
    --font-size-instructions: 1.2rem;

    /* Colors. */
    --color: #121212;
}

/* Variables text. */ 
:root{
    /* Colors */
    --color-background: #bbbbbb;
    --color-background-calculator: #f0ffff;
}

/* Separators. */ 
:root{
    /* Colors */
    --color-background: #bbbbbb;
    --color-background-calculator: #f0ffff;
}