/* Font - Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



/* Variables fonts */ 
:root{
    /* Family */
    --font-family-titles: 'Rubik', 'Sans-serif', 'Poppins', 'Serif', 'Arial';
    --font-family-general: 'Open Sans'/*, 'Sans-serif', 'Poppins', 'Serif', 'Arial'*/;
    
    /* Size */
    --font-size-title: 2.5rem;
    --font-size-subtitle: 2rem;

    /* Color */
    --color: #333333
}

/* Variables text */ 
:root{
    /* Colors */
    --color-background: #f0f0f0;
    --
}