*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

h1{
    margin: 50px 0px 100px 0px;
    color: var(--color);
    font-family: var(--font-family-titles);
    font-size: var(--font-size-title);
    font-weight: bold;
}

h2{
    margin: 50px 0px 100px 0px;
    color: var(--color);
    font-family: var(--font-family-titles);
    font-size: var(--font-size-subtitle);
    font-weight: bold;
}

p{
    font-family: var(--font-family-general);
}